*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #984838;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a65140;
}

.form {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
    background-color: #165A74;
    padding: 20px;
    color: #f6f6f9;
}

h1 {
    color: #f6f6f9;
    font-weight: 100;
    font-size: 5vw;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
    background-color: #165A74;
    border-radius: 50px;
    padding: 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    content: flex;
}

.parrafo {
    text-align: justify;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    background-color: #2C2F3A;
    color: #f6f6f9;
    border-radius: 10px;
    padding: 15px;
}

.campo{
    text-align: center;
    background-color: #984838;
    margin-left: 80%;
    margin-right: 2%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2%;
    color: #f6f6f9;
    font-size: 20px;
}

body {
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    background: #0A1B25;
    font-family: roboto, sans-serif;
}

.gallery {
    width: 80%;
    height: 90vh;
    max-width: 1600px;
    max-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.gallery-image {
    width: 30%;
    height: calc(50%-20px);
    min-width: 300px;
    min-height: 200px;
    margin: 10px;
    overflow: hidden;
}

.image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 1s;
}

/* popup */
.popup{
    position :fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 80%;
    max-width: 1600px;
    height: 80%;
    max-height: 730px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    opacity: 0;
}

.popup.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn{
    opacity: 1;
    transition: opacity .5s;
    transition-delay: 1s;
}

.top-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 300;
}

.image-name{
    opacity: 0;

}
.close-btn{
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f00;
    cursor: pointer;
}

.arrow{
    width: 100px;
    height: 100px;
}
.arrow-btn{
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
}

.left-arrow{
    left: 10px;
}

.right-arrow{
    right: 10px;
    transform: translateY(-50%) rotate(180deg);
}

.arrow-btn:hover{
    background: rbga(0, 0, 0, 0.5);
}

.index{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    opacity: 0;
}

.large-image{
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}